html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
}

canvas {
    /* width: 100%; */
    /* height: 100%; */
    background-color: white;
}

.zoom {
    position: absolute;
    top: 20px;
    left: 20px;
}

.zoom button {
    width: 50px;
    height: 50px;
}